/* Estilos NIDEA */

/* #secCalculadora { */
/* 	display: flex; */
/* 	justify-content: center; */
/* } */

img.logo-navbar {
	width: 100px;
}

.form-inline, .form-check-inline {
	margin: 15px;
	width: 90%;
}

.form-inline label {
	width: 20%;
	display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

#lbl-color {
	margin: 5px;
}

#muestra-color {
	display: none;
}

#color-picker {
	width: 100px;
}